<header class="header">
  <div class="container header-container">
    <a class="header-logo" href="./index.html">
      <img
        class="header-logo-img"
        src="/img/logo.png"
        alt="Хатинка Лапок"
        width="160"
        height="68"
      />
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li>
          <a class="header-nav-link" href="#pets-list">Знайди друга</a>
        </li>

        <li>
          <a class="header-nav-link" href="#about-us">Про нас</a>
        </li>

        <li>
          <a class="header-nav-link" href="#faq">Часті запитання</a>
        </li>

        <li>
          <a class="header-nav-link" href="#success-stories">Історії успіху</a>
        </li>
      </ul>
    </nav>

    <a class="header-btn" href="#pets-list"> Взяти друга </a>

    <button class="header-burger-btn" type="button">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
