<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hatynka Lapok</title>
    <link rel="stylesheet" href="../css/hero.css"/>
</head>
<body>
<section class="hero">
    <div class="container hero-div">
        <h1 class="hero-h1">
            Кожне життя має  значення. Знайди  свого вірного друга
        </h1>

        <p class="hero-p">
            Сотні котиків та собачок у притулку Хатинка Лапок чекають  на свою родину. Подаруйте їм дім.
        </p>
<button class="hero-button" onclick="location.href='#Щасливі історії'">Подивитись історії</button>
        
    </div>
</section>
</body>

</html>