<section class="stories-section" id="stories">
    <div class="container">
        <h3 class="stories-title">Щасливі історії, що надихають</h3>
        <p class="stories-description">
            Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
        </p>

        <div class="stories-loader loader"></div>

        <div class="stories-swiper swiper">
            <div class="swiper-wrapper"></div>

            <div class="stories-controls visually-hidden" id="stories-controls">
                <div class="stories-pagination swiper-pagination" id="stories-pagination"></div>

                <div class="stories-buttons" id="stories-buttons">
                    <button class="stories-prev swiper-button-prev animated-nav-button" id="stories-prev"
                        aria-label="Попередній слайд відгуків">
                        <svg class="arrow_forward" width="20" height="20">
                            <use href="./img/icons.svg#icon-arrow_back"></use>
                        </svg>
                    </button>

                    <button class="stories-next swiper-button-next animated-nav-button" id="stories-next"
                        aria-label="Наступний слайд відгуків">
                        <svg class="arrow_forward" width="20" height="20">
                            <use href="./img/icons.svg#icon-arrow_forward"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>