<section class="happy-tails-section" id="happy-tails">
    <div class="container">
        <h3 class="happy-tails-title">Щасливі історії, що надихають</h3>
        <p class="happy-tails-text">
            Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
        </p>
        <div class="loader-element loader"></div>
        <div class="swiper-wrapper-container">
            <div class="swiper-wrapper"></div>
            <div class="swiper-controls visually-hidden" id="happy-swiper-controls">
                <div class="swiper-pagination" id="happy-swiper-pagination"></div>
                <div class="swiper-buttons" id="happy-swiper-buttons">
                    <button class="swiper-button-prev nav-button" id="happy-prev-btn" aria-label="Попередній слайд">
                        <svg class="arrow-icon" width="20" height="20">
                            <use href="./img/icons.svg#icon-arrow_back"></use>
                        </svg>
                    </button>
                    <button class="swiper-button-next nav-button" id="happy-next-btn" aria-label="Наступний слайд">
                        <svg class="arrow-icon" width="20" height="20">
                            <use href="./img/icons.svg#icon-arrow_forward"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>   