.header {
    padding: 24px 0;
    background: #fef6eb;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #2b2521;
}

.header-logo-icon {
    font-size: 40px;
}

.header-logo-text {
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
}

.header-nav {
    margin-left: 64px;
}

.header-nav-list {
    display: flex;
    gap: 32px;
}

.header-nav-link {
    position: relative;
        display: inline-block;
        height: 24px;
    
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 24px;
    
        color: #2b2521;
        text-decoration: none;
    
        border-bottom: 1px solid transparent;
    
        transition: border-color 250ms ease, color 250ms ease;
}

.header-nav-link:hover,
.header-nav-link:focus-visible {
    border-bottom: 1px solid #443b2e;
}

.header-nav-link:active {
    border-bottom: 1px solid #88765c;
}

.header-nav-link[aria-disabled="true"] {
    opacity: 0.3;
    pointer-events: none;
}

.header-btn {
    margin-left: auto;

    width: 130px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    border: 1px solid #88765c;

    background: #88765c;
    color: white;
    text-decoration: none;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    transition: all 0.25s;
}

.header-btn:hover {
    background: #c3b49d;
    border-color: #02060a;
    color: #2b2521;
}